.aside {
    position: fixed;
    left: 0;
    top: 0;
    background: var(--body-color);
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2.5rem;
    width: 110px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

}

.nav_list {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.nav_link {
    font-size: 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    transition: .2s;
}

.nav_link:hover {
    color: hsl(356, 100%, 60%);  
    opacity: 100%;
    transition: all .2s ease-in;
}

.nav_link:hover span{
    visibility: visible;
    opacity: 1; 
}

.copyright {
    color: hsl(245, 15%, 65%);
    font-size: var(--small-font-size);
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.my_Logo {
    scale: 3;
}

.description {
    visibility: hidden;
    font-weight: var(--font-semibold);
    font-family: var(--body-font);
    margin-left: .75rem;
}

.nav_toggle {
    position: fixed;
    top: 1.25rem;
    left: 1.875rem;
    cursor: pointer;
    height: 40px;
    width: 45px;
    background-color: var(--body-color);
    border: 1px solid #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    box-shadow: var(--shadow);
}

@media screen and (max-width: 1024px) {
    .aside {
      left: -110px;
    }
  }



