.main {
  margin-left: 110px;
  background-color: #C9CAFF;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4973%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient4974)'%3e%3c/rect%3e%3cpath d='M 0%2c53 C 72%2c85.4 216%2c221.2 360%2c215 C 504%2c208.8 576%2c35.6 720%2c22 C 864%2c8.4 936%2c132.2 1080%2c147 C 1224%2c161.8 1368%2c106.2 1440%2c96L1440 560L0 560z' fill='rgba(255%2c 255%2c 255%2c 0.8)'%3e%3c/path%3e%3cpath d='M 0%2c311 C 96%2c357.6 288%2c527.8 480%2c544 C 672%2c560.2 768%2c405 960%2c392 C 1152%2c379 1344%2c461.6 1440%2c479L1440 560L0 560z' fill='rgba(255%2c 255%2c 255%2c 0.32)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4973'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient4974'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 0%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  }

@media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
